Repository openrails/openrails, pull requests merged in 2020-11, with the labels that each got.

#298 Describes improved F6 labels
  Source/Documentation/Manual/driving.rst
Labels: documentation

#267 New strings at Steamer's HUD translated Russian
  Source/Locales/Menu/ru.po
  Source/Locales/ORTS.Common/ru.po
  Source/Locales/Orts.Simulation/ru.po
  Source/Locales/RunActivity/ru.po
Labels: for-unstable, locales

#280 Manual Brake - Further update
  Source/Documentation/Manual/physics.rst
Labels: documentation

#303 Extend <br> from train to timetable briefing
  Source/Orts.Formats.OR/TimetableFile.cs
Labels: bug

#304 added signalling timing functions
  Source/Documentation/Manual/appendices.rst
Labels: documentation

#302 Correct steam usage calculation for geared locomotives
  Source/Orts.Simulation/Simulation/RollingStocks/MSTSSteamLocomotive.cs
Labels: bug

#307 added news item for Activities Guide
  Website/openrails.org/discover/news/index.php
  Website/openrails.org/index.php
Labels: website

#308 added manual braking to News items
  Website/openrails.org/discover/news/index.php
  Website/openrails.org/index.php
Labels: website

#301 Extend path up to 5 km or first signal, and clear depending on SNCA
  Source/Orts.Simulation/Simulation/Physics/Train.cs
  Source/Orts.Simulation/Simulation/Signalling/Signals.cs
Labels: bug

#305 Add more timetable documentation
  Source/Documentation/Manual/timetable.rst
Labels: documentation

#311 Bug fix for https://bugs.launchpad.net/or/+bug/1905146 On restore panto 1 is always risen
  Source/RunActivity/Viewer3D/RollingStock/MSTSElectricLocomotiveViewer.cs
Labels: bug

#299 Adjust starting resistance algorithim
  Source/Documentation/Manual/physics.rst
  Source/Orts.Simulation/Simulation/RollingStocks/MSTSLocomotive.cs
  Source/Orts.Simulation/Simulation/RollingStocks/MSTSSteamLocomotive.cs
  Source/Orts.Simulation/Simulation/RollingStocks/MSTSWagon.cs
  Source/Orts.Simulation/Simulation/RollingStocks/TrainCar.cs
Labels: enhancement

#315 Bug fix for https://bugs.launchpad.net/or/+bug/1905957 - Locomotives with only a rear 3D cab aren't managed properly
  Source/Orts.Simulation/Simulation/RollingStocks/MSTSLocomotive.cs
  Source/Orts.Simulation/Simulation/RollingStocks/TrainCar.cs
Labels: bug, for-unstable
