Repository openrails/openrails, pull requests merged in 2021-06, with the labels that each got.

#392 Blueprint https://blueprints.launchpad.net/or/+spec/trainset-elevator Trainset elevator
  Source/Documentation/Manual/features-route.rst
  Source/Orts.Simulation/Simulation/Transfertables.cs
  Source/RunActivity/Viewer3D/Shapes.cs
Labels: enhancement

#424 Bug fix for https://bugs.launchpad.net/or/+bug/1930630. The web TrainDriving window is not available.
  Source/RunActivity/Viewer3D/WebServices/TrainDrivingDisplay.cs
Labels: bug

#426 Update to German translation of Menu and Commons
  Source/Locales/Menu/de.po
  Source/Locales/ORTS.Common/de.po
  Source/Locales/Orts.Simulation/Orts.Simulation.pot
  Source/Locales/RunActivity/RunActivity.pot
Labels: locales

#428 Update to German translation
  Source/Locales/Contrib/de.po
  Source/Locales/Orts.Simulation/de.po
Labels: for-unstable, locales

#423 Adjustments to vacuum brake
  Source/Orts.Simulation/Simulation/RollingStocks/SubSystems/Brakes/MSTS/VacuumSinglePipe.cs
Labels: enhancement

#429 Czech translations updated by Howky
  Source/Locales/Contrib/cs.po
  Source/Locales/Menu/cs.po
  Source/Locales/ORTS.Common/cs.po
  Source/Locales/Orts.Formats.OR/cs.po
  Source/Locales/Orts.Simulation/cs.po
  Source/Locales/RunActivity/cs.po
Labels: locales

#425 updates Paths and References section
  Docs/Design for Virtual Filesystem.md
Labels: documentation

#389 Russian Localization Stage III
  Source/Locales/Contrib/ru.po
  Source/Locales/Menu/ru.po
  Source/Locales/ORTS.Common/ru.po
  Source/Locales/Orts.Simulation/ru.po
  Source/Locales/RunActivity/ru.po
Labels: locales
