Repository openrails/openrails, pull requests merged in 2025-02, with the labels that each got.

#1016 Route all logging via Trace #or-std-log
  Source/Orts.Formats.Msts/TrackSectionsFile.cs
  Source/Orts.Parsers.Msts/SBR.cs
  Source/Orts.Simulation/MultiPlayer/ClientComm.cs
  Source/Orts.Simulation/MultiPlayer/MPManager.cs
  Source/Orts.Simulation/MultiPlayer/Message.cs
  Source/Orts.Simulation/MultiPlayer/OnlineTrains.cs
  Source/RunActivity/Viewer3D/Processes/GameStateRunActivity.cs
  Source/RunActivity/Viewer3D/Shaders.cs
Labels: enhancement

#1003 Clean up logging during loading #or-std-log
  Source/Orts.Common/FatalException.cs
  Source/Orts.Common/FileTeeLogger.cs
  Source/Orts.Common/NullLogger.cs
  Source/Orts.Common/ORTraceListener.cs
  Source/Orts.Formats.Msts/SignalScripts.cs
  Source/Orts.Formats.Msts/WorldSoundFile.cs
  Source/Orts.Formats.OR/AESignals.cs
  Source/Orts.Simulation/Simulation/AIs/AI.cs
  Source/Orts.Simulation/Simulation/Signalling/Signals.cs
  Source/Orts.Simulation/Simulation/Simulator.cs
  Source/Orts.Simulation/Simulation/Timetables/PoolInfo.cs
  Source/Orts.Simulation/Simulation/Timetables/ProcessTimetable.cs
  Source/Orts.Simulation/Simulation/Timetables/TurntableInfo.cs
  Source/Orts.Simulation/Simulation/Turntables.cs
  Source/RunActivity/Viewer3D/DynamicTrack.cs
  Source/RunActivity/Viewer3D/Scenery.cs
  Source/RunActivity/Viewer3D/Shapes.cs
  Source/RunActivity/Viewer3D/Terrain.cs
  Source/RunActivity/Viewer3D/Trains.cs
  Source/RunActivity/Viewer3D/Viewer.cs
  Source/RunActivity/Viewer3D/WebServices/SwitchPanel/SwitchOnPanelStatus.cs
Labels: enhancement

#1037 Fix OR manual about custom animation speeds
  Source/Documentation/Manual/cabs.rst
Labels: documentation

#1043 Updated French translations (OR Menu)
  Source/Locales/Menu/fr.po
Labels: locales

#1042 Fix Emergency Brake Pressure Being Overridden
  Source/Orts.Simulation/Simulation/RollingStocks/SubSystems/Brakes/MSTS/AirSinglePipe.cs
Labels: bug

#1010 Fix: TrainDrivingInfo window width not stable.
  Source/RunActivity/Viewer3D/Popups/TrainDrivingWindow.cs
Labels: bug

#1041 Trans: updated Portuguese translations
  Source/Locales/Menu/pt-PT.po
  Source/Locales/ORTS.Menu/pt-PT.po
  Source/Locales/ORTS.Menu/pt_PT.po
  Source/Locales/Orts.Formats.OR/pt-PT.po
  Source/Locales/Orts.Simulation/pt-PT.po
  Source/Locales/Updater/pt-PT.po
Labels: locales

#1036 Trans: update Spanish
  Source/Locales/Contrib/Contrib.pot
  Source/Locales/Menu/Menu.pot
  Source/Locales/Menu/es.po
  Source/Locales/ORTS.Common/ORTS.Common.pot
  Source/Locales/ORTS.Menu/ORTS.Menu.pot
  Source/Locales/ORTS.Menu/es.po
  Source/Locales/ORTS.Settings/ORTS.Settings.pot
  Source/Locales/Orts.Formats.OR/Orts.Formats.OR.pot
  Source/Locales/Orts.Simulation/Orts.Simulation.pot
  Source/Locales/RunActivity/RunActivity.pot
  Source/Locales/Updater/Updater.pot
Labels: locales

#1039 Fix: Adjusts Menu for longer text (Russian)
  Source/Menu/MainForm.Designer.cs
  Source/Menu/MainForm.resx
  Source/Menu/Options.Designer.cs
  Source/Menu/ResumeForm.Designer.cs
Labels: bug, locales

#1044 Trans: Updated German text
  Source/Locales/Contrib/de.po
  Source/Locales/Menu/de.po
  Source/Locales/ORTS.Common/de.po
  Source/Locales/ORTS.Menu/de.po
  Source/Locales/ORTS.Settings/de.po
  Source/Locales/Orts.Formats.OR/de.po
  Source/Locales/Updater/de.po
Labels: locales
